h1, h2 {
    font-family: "Patrick Hand", cursive;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}


h2 {
    font-size: 2rem;
}

h4 {
    font-style: italic;
    font-weight: 600;
    color: #222;
}

h5 {
    font-style: italic;
    font-weight: 400;
    color: #222;
}

.title-container {
    position: relative;
    height: fit-content;
}

.title-background {
    /* background-image: url("pattern.jpg"); */
    /* background-repeat: repeat; */
    background-color: #1FCEDB;
    background-size: 512px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.3; */
}

.ring-alimentation {
    --base-color: #CAFA89;
}

.ring-autres-thematiques {
    --base-color: #C18CFA;
}

.ring-budget {
    --base-color: #8CFAAE;
}

.ring-enfants {
    --base-color: #FA8CF4;
}

.ring-logement {
    --base-color: #AEFA8C;
}

.ring-loisirs {
    --base-color: #8CD3FA;
}

.ring-sante {
    --base-color: #8CFAE6;
}

.ring-transport {
    --base-color: #F9C98A;
}

.ring-alimentation, .ring-autres-thematiques, .ring-budget, .ring-enfants, .ring-logement, .ring-loisirs, .ring-sante, .ring-transport {
    background-color: var(--base-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}